<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/pricing.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-info ">
    <div class="container">
        <a class="navbar-brand" href="#">Service Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-md-0">

            {{if .auth}}
                <button type="button" class="btn btn-outline-light" style="margin-right: 10px; " data-toggle="modal" data-target="#addService">
                    Add Service
                </button>

                <a class="btn btn-outline-light" style="margin: auto" href="logout">Logout </a>
            {{else}}
                <a class="btn btn-outline-light" style="margin: auto" href="login">Login </a>
            {{end}}
            </form>
        </div>
    </div>
</nav>


<div class="container" style="padding-top: 50px">
    <h3> Services </h3>



    <div class="row" style="padding-top: 10px">

        {{range .Services}}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">

                    <div class="card-body">
                        <a href="{{.Url}}" class="noDecoration">
                        <table width="100%  ">
                            <tr>
                                <td>
                                    <div class="box">
                                        <img class="img rounded-circle img-thumbnail" style="padding:10px" height="80px" width="80px" src="{{.Icon}}"/>
                                        <span class="bet_time indicator status-{{.Status}}"></span>
                                    </div>

                                </td>
                                <td>
                                    <h3>{{.Name}}</h3>
                            </tr>
                        </table>
                        </a>
                    {{if $.auth}}
                        <button type="button" class="btn btn-outline-dark"
                                style="position:absolute; bottom:10px; right:40px; padding: 0px!important; width: 25px; height: 25px"
                                data-toggle="modal"
                                data-service-name="{{.Name}}"
                                data-service-backend="{{.Url}}"
                                data-service-frontend="{{.Url}}"
                                data-service-icon="{{.Icon}}"
                                data-target="#addService">
                            <img src="../static/edit.svg" width="15px" height="15px"/>
                        </button>
                        <button type="button" class="btn btn-outline-danger"
                                onclick="deleteService('{{.Name}}')"
                                style="position:absolute; bottom:10px; right:10px; padding: 0px!important; width: 25px; height: 25px">
                            <img src="../static/delete.svg" width="15px" height="15px"/>
                        </button>
                     {{end}}
                     </div>
            </div>
        </div>
        {{end}}
    </div>

    <hr/>

{{if .InfrastructureName}}
    <h3> Infrustructure </h3>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1" style="text-align: center">
                            <img height="50px" width="50px" src="../static/server.svg"/>
                        </div>
                        <div class="col-sm-8" style="padding-left: 25px; line-height: 20px; text-align: center">
                            <span style="vertical-align: center; display: inline-block; padding: 7px "> <h3 style="margin: 0px;">{{.InfrastructureName}}</h3></span>
                        </div>
                        <div class="col-sm-3" style=" text-align: center">
                        {{if .auth}}
                            <button id="powerbutton" type="button" class="btn btn-toggle {{.Active}}" style="margin-top: 14px;"data-toggle="button" aria-pressed="true" onclick="switchPower() " autocomplete="off">
                                <div class="handle"></div>
                            </button>
                        {{else}}
                        {{if .Active}}
                            <div class="alert alert-success" style="margin: 0px">Powered ON</div>
                        {{else}}
                            <div class="alert alert-danger" style="margin: 0px">Powered OFF</div>
                        {{end}}
                        {{end}}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
</div>

</div>


{{if .auth}}
<div class="modal fade" id="addService" tabindex="-1" role="dialog" aria-labelledby="addService" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="add-service" method="post">
            <div class="modal-body">
                <input type="hidden" class="form-control" id="service-oldname" name="service-oldname"/>
                <div class="form-group">
                    <label for="service-name" class="col-form-label">Service Name:</label>
                    <input type="text" class="form-control" id="service-name" name="service-name">
                </div>
                <div class="form-group">
                    <label for="service-backendurl" class="col-form-label">Backend Url:</label>
                    <input type="text" class="form-control" id="service-backend" name="service-backend">
                </div>
                <div class="form-group">
                    <label for="service-frontendurl" class="col-form-label">Frontend Url:</label>
                    <input type="text" class="form-control" id="service-frontend"name="service-frontend">
                </div>
                <div class="form-group">
                    <label for="service-iconurl" class="col-form-label">Icon Url:</label>
                    <input type="text" class="form-control" id="service-icon" name="service-icon">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input id="edit" type="submit" class="btn btn-primary" value="Add Service"/>
            </div>
            </form>
        </div>
    </div>
</div>
{{end}}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../static/popper.min.js"></script>
<script src="../static/bootstrap.min.js"></script>
<script>
    $(function(){
        setTimeout(function () {
           // location.reload();
        },60000) //1 min
    });


    $('#addService').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var serviceName = button.data('service-name');
        var serviceBackend = button.data('service-backend');
        var serviceFrontend = button.data('service-frontend');
        var serviceIcon = button.data('service-icon');
        var modal = $(this);
        if(serviceName != undefined){
            modal.find('.modal-title').text('Edit: ' + serviceName);
            modal.find('#service-name').val(serviceName);
            modal.find('#service-oldname').val(serviceName);
            modal.find('#service-backend').val(serviceBackend);
            modal.find('#service-frontend').val(serviceFrontend);
            modal.find('#service-icon').val(serviceIcon);
            modal.find('form').attr('action', "update-service")
            modal.find('#edit').val("Edit Service")
        }
    });

    function deleteService(serviceName){
        $.post("delete-service", {"serviceName": serviceName}, function(data, status){
            location.reload();
        })
    }

    function switchPower() {
        if("{{.Active}}" == "active") {
            $.get("turnOFF", function(data, status){
                location.reload();
            });
        }else{
            $.get("turnOn", function(data, status){
                location.reload();
            });
        }
    }


</script>
</body>
</html>
